html {
    color: #6c6c6c;
    font-size: 14px;
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
 * We gotta set font-family on all this stuff because the Pure css framework
 * resets fonts in these elements
 **/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header {
    position: relative;
    border-bottom: 1px solid #ebebeb;
}

.header:before {
    content: " ";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #fafafa;
}

.header:after {
    content: " ";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #fefefe;
}

#logo {
    float: left;
    font-size: 26px;
    line-height: 29px;
    font-weight: 700;
    background-color: #373737;
    border-radius: 3px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px 12px;
    color: #fff;
}

.header .links {
    float: right;
    margin: 0;
    height: 70px;
    font-size: 0px;
}

.header .links li {
    display: inline;
    list-style-type: none;
    font-size: 30px;
    line-height: 70px;
    margin-left: 6px;
}

.header .links li a {
    display: inline-block;
    line-height: 1;
    padding: 6px;
    transition: color 100ms ease;
}

.header .links li a:hover,
.header .links li a:active {
    color: #373737;
}

#splash {
    text-transform: lowercase;
    margin-top: 180px;
    margin-bottom: 180px;
}

#splash h1 {
    color: #373737;
    font-weight: 600;
    font-size: 48px;
    margin: 0;
}

#splash h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.blurb {
    text-transform: lowercase;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.blurb .blurb-header {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;

    position: relative;
    padding-bottom: 40px;
}

.blurb .blurb-header:after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 20px;
    width: 30px;
    height: 1px;
    background-color: #d3d3d3;
}

h4.somewhat-big {
    margin: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
}

h6.kinda-small {
    margin: 0;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 400;
}

/**
 * Print styles
 **/
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline !important;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}