{{ define "main" }}

<div class="container about-me">
    <h1>nebez briefkani</h1>
    <img src="{{ ((resources.Get "img/me-color.jpg").Fill "400x400 Top").RelPermalink }}" class="img">
    <h2>canadian-iraqi software engineer & startup enthusiast based in montréal, canada</h2>
    <p>I've been developing software for nearly 15 years. After a few years of freelancing, some game development, and working on the server and netcode of now-defunct open-source version of <a href="https://en.wikipedia.org/wiki/Infantry_(video_game)" target="_blank">Infantry Online</a>, I ended up in the ecommerce and fashion world of software development.</p>
    <p>Previously at <a href="#">SSENSE</a>, <a href="#">LXRandCo</a>, and <a href="#">nukern</a>, I'm currently working at <a href="#">Lightspeed</a> developing their presence and operations in the physical and digital payments industries. These days I (try to) build approachable, scalable, and cost-effective solutions that are <em>usually</em> driven by software.</p>
    <p>After two failed businesses and developing a deep expertise in the ecommerce, fashion, and payments industries — and having helped successfully <a href="https://web.tmxmoney.com/quote.php?qm_symbol=LXR" target="_blank">IPO an omnichannel retailer</a> — I also advise and coach start-ups on product development, technical direction, and growth in my spare time. Reach out on LinkedIn if you want to chat!</p>

    todo style this
    <h3>links</h3>
    <ul>
        <li>LinkedIn</li>
        <li>GitHub</li>
        <li>hi@nebezb.com</li>
    </ul>
</div>

{{ end }}
