@import 'normalize';
@import 'reset';
@import 'helpers';


$fontFamilyBody: 'Roboto', sans-serif; // [400, 700]
$fontFamilyHeading: 'Space Mono', monospace; // [400, 700]

%antialiased-heading-font {
    font-family: $fontFamilyHeading;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $fontFamilyBody;
    font-weight: 400;
    color: #222;
    line-height: 1.5;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    @extend %antialiased-heading-font;
    color: #010101;
    font-weight: 400;
}

p {
    margin: 14px 0;
}

#content p a,
#content ul a {
    color: #2d81ec;

    &:hover {
        text-decoration: underline;
    }
}

.img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

header#site-header {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;


    .logo {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        width: 50px;
    }

    ul.nav {
        display: flex;
        flex: 0 0 auto;
        margin: 0;

        // Adjust for the padding of the right-most nav item to line it up with
        // the rest of the page content.
        margin-right: -10px;
    }

    ul.nav li {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0;
        padding: 0;
        margin-left: 10px;
    }

    .nav a {
        @extend %antialiased-heading-font;

        display: inline-block;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;

        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

#content {
    padding-bottom: 50px;
}

.about-me {
    h1, h2, h3 {
        text-transform: lowercase;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .img {
        width: 100px;
        float: right;
        border-radius: 50%;
        margin-left: 10px;
        margin-bottom: 10px;

        @include min-width(500px) {
            width: 200px;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    ul li {
        @extend %antialiased-heading-font;
        position: relative;
        margin-left: 10px;
        padding: 5px;

        &:after {
            content: "";
            position: absolute;
            display: block;
            left: -9px;
            top: 50%;
            margin-top: -1px;
            height: 2px;
            width: 5px;
            background-color: #000;
        }
    }
}

.post-summary {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 25px;

    h3 {
        display: inline;
        font-weight: 700;
        font-size: 22px;
    }

    &:hover h3 {
        background-color: #000;
        color: #fff;
    }

    .details {
        margin-top: 10px;
    }

    time {
        @extend %antialiased-heading-font;
        font-size: 12px;
        opacity: 0.6;
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &:hover time {
        opacity: 1;
    }
}

.post-container {
    header {
        margin-bottom: 40px;
    }

    header h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;


        @include min-width(500px) {
            font-size: 50px;
        }
    }

    header time {
        @extend %antialiased-heading-font;
        font-size: 12px;
        opacity: 0.6;
    }

    header small {
        float: right;
        @extend %antialiased-heading-font;
        opacity: 0.6;
    }

    .highlight > pre {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 60px;
        overflow-x: scroll;
        border: 1px solid #dee3e3;
        background-color: #f9fafa !important;
    }
}

// Rendered post markdown goes here.
.post-container .rendered {
    // Headers
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin: 1.5em 0 0.7em 0;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 16px;
    }
    h4, h5, h6 {
      font-size: 18px;
      font-weight: 400;
    }

    // Paragraphs and inline code
    p {
        line-height: 1.8;
    }
    p > code {
        background-color: #f5f5f5;
        padding: 6px;
    }
    blockquote {
        font-family: 'Georgia', serif;
        font-style: italic;
        color: #666;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        margin: 2em 0;
    }

    // Ensure we only add margin to top-level lists and not nested lists
    > ol,
    > ul {
        margin: 1em 0;
    }

    ol {
        list-style: decimal;
        padding-left: 25px;
    }

    ul {
        list-style: disc;
        padding-left: 25px;
    }

    // Footnote styling
    section.footnotes {
        @extend %antialiased-heading-font;
        color: #666;

        ol {
            padding-left: 30px;
            padding-right: 30px;
        }

        li {
            margin-left: 30px;
        }
    }

    img {
        @extend .img;
    }
}
